---
title: Archive
layout: page
---
<h3>Archive ({{ site.posts | size }} posts)</h3>

{% assign sorted_years = site.years %}
{% for year in sorted_years %}
	{% assign posts = site.years_posts[year] %}
<h4><span class="fa fa-calendar" aria-hidden="true"></span> {{ year }} ({{ posts | size }})</h4>
<ul>
	{% for post in posts %}
	<li><a href="{{ post.url }}/">{{ post.title | encode }}</a> <span class="meta">({{ post.date | date: "d MMM yyyy" }})</span></li>
	{% endfor %}
</ul>
{% endfor %}

{% assign sorted_tags = site.tags | sort %}
{% for tag in sorted_tags %}
	{% assign posts = site.tags_posts[tag] %}
<h4><span class="fa fa-tags" aria-hidden="true"></span> {{ tag }} ({{ posts | size }})</h4>
<ul>
	{% for post in posts %}
	<li><a href="{{ post.url }}/">{{ post.title | encode }}</a> <span class="meta">({{ post.date | date: "d MMM yyyy" }})</span></li>
	{% endfor %}
</ul>
{% endfor %}