---
title: Archive
layout: page
---
<h3>Archive by year</h3>
	{% assign sorted_years = site.years %}
	{% for year in sorted_years %}
		{% assign posts = site.years_posts[year] %}
	<h4>{{ year }} ({{ posts | size }})</h4>
	<ul>
		{% for post in posts %}
		<li><a href="{{ post.url }}/">{{ post.title | encode }}</a> ({{ post.date | date: "d MMM yyyy" }})</li>
		{% endfor %}
	</ul>
	{% endfor %}

<h3>Archive by tag</h3>
	{% assign sorted_tags = site.tags | sort %}
	{% for tag in sorted_tags %}
		{% assign posts = site.tags_posts[tag] %}
	<h4>{{ tag }} ({{ posts | size }})</h4>
	<ul>
		{% for post in posts %}
		<li><a href="{{ post.url }}/">{{ post.title | encode }}</a> ({{ post.date | date: "d MMM yyyy" }})</li>
		{% endfor %}
	</ul>
	{% endfor %}
