---
title: Archive
layout: page
---
<h3>Archive ({{ site.posts | size }} posts)</h3>
<p id="archive_tags">
	<select>
		<option value="">All Tags</option>
		{% assign sorted_tags = site.tags | sort %}
		{% for tag in sorted_tags %}
			{% assign posts = site.tags_posts[tag] %}
		<option value='{{ tag | replace: "'","&#39;" }}'>{{ tag }} ({{ posts | size }} posts)</option>
		{% endfor %}
	</select>
</p>
<ul id="archive_posts">
	{% for post in site.posts %}
	<li data-tags='{{ post.tags | jsonify | replace: "'","&#39;" }}'><a href="{{ post.url }}/">{{ post.title | encode }}</a> ({{ post.date | date: "d MMM yyyy" }})</li>
	{% endfor %}
</ul>