---
---
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".html" />
			<mimeMap fileExtension=".html" mimeType="text/html; charset=utf-8" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="text/xml; charset=utf-8" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
			<remove fileExtension=".7z" />
			<mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="HTTPS redirect" stopProcessing="true">
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
				</rule>
				<rule name="domains redirect" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www\.tabsoverspaces\.com$" negate="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://www.tabsoverspaces.com/{R:1}?utm_source={HTTP_HOST}" appendQueryString="true" />
				</rule>

				<rule name="cache versions" stopProcessing="true">
					<match url="^(.+)\.v__.{20,}(\..{2,})$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}{R:2}" appendQueryString="true" />
				</rule>

				<rule name="enforce trailing slash" stopProcessing="true">
					<match url="^(.+[^/])$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{{ site.address }}/{R:1}/" appendQueryString="true" />
				</rule>

				<!-- permalinks -->
				{% for post in site.posts %}
				{% capture permalink %}{% include post_permalink, post: post %}{% endcapture %}
				{% assign redirect_link = permalink | remove_first: "/" %}
				<rule name="permalink '{{ redirect_link }}'" stopProcessing="true">
					<match url="^{{ redirect_link }}$" />
					<action type="Redirect" redirectType="Found" url="https://{{ site.address }}{{ post.url }}" appendQueryString="true" />
				</rule>
				{% endfor %}
				<!-- permalinks end -->

				<rule name="extensionless" stopProcessing="true">
					<match url="^(.*)/$" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:1}.html" appendQueryString="true" />
				</rule>
			</rules>

			<outboundRules>
				<rule name="HSTS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="^ON$" />
					</conditions>
					<action type="Rewrite" value="max-age=31536000" />
				</rule>
				<rule name="caching" enabled="true">
					<match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{RESPONSE_STATUS}" pattern="^200$" />
					</conditions>
					<action type="Rewrite" value="public, max-age=3600" />
				</rule>
				<rule name="caching - static" enabled="true">
					<match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{RESPONSE_STATUS}" pattern="^200$" />
						<add input="{REQUEST_URI}" pattern="^/(assets|i)/.*$" />
					</conditions>
					<action type="Rewrite" value="public, max-age=31536000" />
				</rule>
				<rule name="frame options" enabled="true">
					<match serverVariable="RESPONSE_X_Frame_Options" pattern=".*" />
					<action type="Rewrite" value="DENY" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpErrors>
			<remove statusCode="404" />
			<error statusCode="404" path="404.html" responseMode="File" />
		</httpErrors>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
