<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="public, max-age=86400" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<rule name="HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="HSTS" enabled="true">
					<match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
					<conditions>
						<add input="{HTTPS}" pattern="^ON$" />
					</conditions>
					<action type="Rewrite" value="max-age=2592000" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpErrors>
			<remove statusCode="404" />
			<error statusCode="404" path="404.html" responseMode="File" />
		</httpErrors>
	</system.webServer>
</configuration>