	<footer>
		<p><a href="/{{ site.feed }}">Atom Feed <span class="fa fa-feed" aria-hidden="true"></span></a>&nbsp;|&nbsp;<a href="/{{ site.sitemap }}">Sitemap <span class="fa fa-sitemap" aria-hidden="true"></span></a>&nbsp;|&nbsp;Copyright &copy; Jiří Činčura. All rights reserved.</p>
		<p>Design inspired by <a href="http://www.rodrigogalindez.com/themes/modern-clix/">Modern Clix</a>.</p>
	</footer>
</div>

<script type="text/javascript" src="/assets/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/blog.js"></script>

</body>
</html>   
<!-- {{ site.time | date_to_xmlschema }} -->