	<footer>
		<p><a href="/{{ site.feed }}">Atom Feed <span class="fa fa-feed" aria-hidden="true"></span></a><span class="divider"></span><a href="/{{ site.sitemap }}">Sitemap <span class="fa fa-sitemap" aria-hidden="true"></span></a><span class="divider"></span>Copyright &copy; Jiří Činčura. All rights reserved.</p>
	</footer>
</div>

<script type="text/javascript" src="/assets/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="/assets/blog.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-113043-8', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>   
<!-- {{ site.time | date_to_xmlschema }} -->