	<hr />
	
	<div id="footnotes" class="col span-12">
		<p><a class="rss" href="{{ site.feed_external }}" target="_blank">RSS Feed</a>&nbsp;|&nbsp;<a href="{{ site.url }}/sitemap.txt" target="_blank">Sitemap</a>&nbsp;|&nbsp;Copyright &copy; Jiri Cincura. All rights reserved.</p>
		<p>This blog is uses <a href="http://www.rodrigogalindez.com/themes/modern-clix/">Modern Clix</a> theme.</p>
	</div>
</div>

<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shCore.js"></script>
<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shAutoloader.js"></script>
<link rel="stylesheet" href="http://alexgorbatchev.com/pub/sh/3.0.83/styles/shCore.css" type="text/css" />
<link rel="stylesheet" href="http://alexgorbatchev.com/pub/sh/3.0.83/styles/shThemeDefault.css" type="text/css" />
<script type="text/javascript">  
	SyntaxHighlighter.defaults['tab-size'] = 2;
	SyntaxHighlighter.defaults['class-name'] = 'x2src';

	SyntaxHighlighter.autoloader(
['applescript'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushAppleScript.js'],
['actionscript3','as3'						,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushAS3.js'],
['bash','shell'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushBash.js'],
['coldfusion','cf'								,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushColdFusion.js'],
['cpp','c'												,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushCpp.js'],
['c#','c-sharp','csharp'					,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushCSharp.js'],
['css'														,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushCss.js'],
['delphi','pascal'								,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushDelphi.js'],
['diff','patch','pas'							,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushDiff.js'],
['erl','erlang'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushErlang.js'],
['groovy'													,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushGroovy.js'],
['java'														,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushJava.js'],
['jfx','javafx'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushJavaFX.js'],
['js','jscript','javascript'			,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushJScript.js'],
['perl','pl'											,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushPerl.js'],
['php'														,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushPhp.js'],
['text','plain'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushPlain.js'],
['py','python'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushPython.js'],
['ruby','rails','ror','rb'				,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushRuby.js'],
['sass','scss'										,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushSass.js'],
['scala'													,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushScala.js'],
['sql'														,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushSql.js'],
['vb','vbnet'											,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushVb.js'],
['xml','xhtml','xslt','html'			,'http://alexgorbatchev.com/pub/sh/3.0.83/scripts/shBrushXml.js']
	);
	SyntaxHighlighter.all();
</script>
	</body>
<!-- {{ site.time | date_to_xmlschema }} -->
</html>