<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="all,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.title %}
	<title>{{ page.title }} | {% include site_name_text.html %}</title>
	{% else %}
	<title>{% include site_name_text.html %} | {% include site_description_text.html %}</title>
	{% endif %}
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />

	<link rel="alternate" type="application/atom+xml" title="{% include site_name_text.html %}" href="{{ site.url }}/{{ site.feed }}" />

	<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider" />
	<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/0737fcac-a411-47ad-8255-7cd579b7dbf1" />

	<link rel="stylesheet" href="{{ site.url }}/assets/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ site.url }}/assets/syntax.css" type="text/css" media="all" />

	<script type="text/javascript" src="{{ site.url }}/assets/jquery/jquery.min.js"></script>

	<script type="text/javascript" src="{{ site.url }}/assets/fancybox/jquery.fancybox.pack.js"></script>
	<link rel="stylesheet" href="{{ site.url }}/assets/fancybox/jquery.fancybox.css" type="text/css" media="all" />

	<script type="text/javascript" src="{{ site.url }}/assets/blog.js"></script>

<script type="text/javascript">
	$(document).ready(blog.initGeneral);
</script>
</head>

<body>
<div id="wrapper">
	<nav>
		<ul>
			<li><a href="{{ site.url }}">Home</a></li>
			<li><a href="{{ site.url }}/archive/">Archive</a></li>
			<li><a href="{{ site.url }}/tags/">Tags</a></li>
			<li><a href="{{ site.url }}/contact/">Contact</a></li>
			<li><a href="{{ site.url }}/cv/">CV</a></li>
		</ul>
	</nav>

	<header>
		<h1><a href="{{ site.url }}">{% include site_description_format.html %}</a></h1>
		<h2><span class="low">by</span> {% include site_name_format.html %}</h2>
	</header>