<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="all,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% if page.title != nil %}
	<title>{{ page.title }} | {% include site_name_text.html %}</title>
	{% else %}
	<title>{% include site_name_text.html %} | {% include site_description_text.html %}</title>
	{% endif %}
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />

	<link rel="alternate" type="application/atom+xml" title="{% include site_name_text.html %}" href="{{ site.url }}/{{ site.feed }}" />

	<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider" />
	<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/0737fcac-a411-47ad-8255-7cd579b7dbf1" />

	<link rel="stylesheet" href="{{ site.url }}/assets/style.css" type="text/css" />
	<link rel="stylesheet" href="{{ site.url }}/assets/syntax.css" type="text/css" />

	<script type="text/javascript" src="{{ site.url }}/assets/jquery/jquery.min.js"></script>

	<script type="text/javascript" src="{{ site.url }}/assets/fancybox/jquery.fancybox.pack.js"></script>
	<link rel="stylesheet" href="{{ site.url }}/assets/fancybox/jquery.fancybox.css" type="text/css" />

	<script type="text/javascript" src="{{ site.url }}/assets/my.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-113043-8', 'cincura.net');
  ga('send', 'pageview');

</script>
</head>

<body>
<div id="wrapper">
	<nav>
		<ul>
			<li><a href="{{ site.url }}">Home</a></li>
			<li><a href="{{ site.url }}/tags/">Tags</a></li>
			<li><a href="{{ site.url }}/archive/">Archive</a></li>
			<li><a href="{{ site.url }}/contact/">Contact</a></li>
			<li><a href="{{ site.url }}/cv/">CV</a></li>
		</ul>
	</nav>

	<header>
		<h1><a href="{{ site.url }}">{% include site_description_format.html %}</a></h1>
		<h2><span class="low">by</span> {% include site_name_format.html %}</h2>
	</header>