<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="all,follow" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% capture title %}{{ site.heading1 }} by {{ site.heading2 }}{% endcapture %}
	{% capture page_title %}{% if page.title %}{{ page.title | escape }} | {% endif %}{{ title }}{% endcapture %}
	<title>{{ page_title }}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />

	<link rel="alternate" type="application/atom+xml" title="{{ title }}" href="/{{ site.feed }}" />

	<link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider" />
	<link rel="openid2.local_id" href="https://openid.stackexchange.com/user/0737fcac-a411-47ad-8255-7cd579b7dbf1" />

	<link rel="stylesheet" href="/assets/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/syntax.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
	<nav>
		<ul>
			<li><a href="/"><span class="fa fa-home icon" aria-label="Home"></span></a></li>
			<li><a href="/archive/">Archive</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/cv/">CV</a></li>
		</ul>
	</nav>

	<header>
		{% capture heading1_accent %}<span class="accent">{{ site.heading1_accent }}</span>{% endcapture %}
		{% capture heading2_accent %}<span class="accent">{{ site.heading2_accent }}</span>{% endcapture %}
		<h1><a href="/">{{ site.heading1 | replace: site.heading1_accent,heading1_accent }}</a></h1>
		<h2><span class="accent">by</span> {{ site.heading2 | replace: site.heading2_accent,heading2_accent }}</h2>
	</header>