<div id="sidebar">
	<ul>
		<li>
			<h2>Search</h2>
			<p>
<gcse:searchbox-only resultsUrl="{{ site.url }}/search"></gcse:searchbox-only>
			</p>
		</li>
		<li>
			<h2>Twitter</h2>
			<p>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/cincura_net" data-widget-id="332397286741118977" data-chrome="noheader nofooter noborders transparent">Tweets by @cincura_net</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</p>
		</li>    
		<li>
			<h2>Stuff</h2>
			<p>
<div align="center">
<a href="http://www.x2develop.com/" target="_blank"><img src="http://www.x2develop.com/content/img/logo_120_30.png" border="0" /></a>

<br /><br />

<a href="http://www.ID3renamer.com/" target="_blank"><img src="http://www.ID3renamer.com/img/banner4.gif" alt="ID3 renamer banner" title="ID3 renamer - program for renaming files and manipulating with ID3 tags." border="0" /></a>

<br /><br />

<b><a href="http://groups.google.com/group/firebird_cz/" target="_blank">Zapište se do skupiny Firebird (CZ)</a></b>

<br /><br />

<a href="http://www.linkedin.com/in/cincuranet" ><img src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.gif" width="160" height="33" border="0" alt="View Jiří Činčura's profile on LinkedIn" /></a>
</div>
			</p>
		</li>
	</ul>
</div>