<div id="sidebar">
	<ul>
		<li>
			<h2>Search</h2>
		</li>
		<li>
			<h2>Twitter</h2>
			<p class="left"><img src="placeholder.gif" alt="A placeholder." title="A placeholder." style="width:120px; height: 130px;" /></p>
			<p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi.</p>
		</li>    
		<li>
			<h2>Stuff</h2>
			<p class="left"><img src="placeholder.gif" alt="A placeholder." title="A placeholder." style="width:120px; height: 130px;" /></p>
			<p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi.</p>
		</li>
	</ul>
</div>