<div id="sidebar">
	<ul>
		<li>
			<h2>Search</h2>
		</li>
		<li>
			<h2>Twitter</h2>
			<p>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/cincura_net" data-widget-id="332397286741118977">Tweets by @cincura_net</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</p>
		</li>    
		<li>
			<h2>Stuff</h2>
			<p class="left"><img src="placeholder.gif" alt="A placeholder." title="A placeholder." style="width:120px; height: 130px;" /></p>
			<p>Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi. Ut varius velit a sem. Proin fermentum. Sed ultrices tortor vitae diam. Donec lectus nulla, dictum ut, sodales vitae, pellentesque vitae, nisi.</p>
		</li>
	</ul>
</div>