div.x2src code, div.x2src div, div.x2src a  {
	font-size: 12px !important;
}

#footnotes .rss {
	margin-left: 0px !important;
}

#searchform {
	padding-left: 8px !important;
}

.nav li {
	word-wrap: break-word;
}