@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i&subset=latin-ext");

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "PT Serif", "Times New Roman", serif;
	font-size: 16px;
}

body {
	background: #fff;
	color: #222;
}

a {
	text-decoration: none;
	color: #222;
}

a:hover {
	color: #0f83db;
}

option {
	font-weight: inherit;
}

.accent {
	font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", serif;
	font-style: italic;
	font-weight: normal;
	color: #666;
}

.divider:before {
	content: "\00a0|\00a0";
}

/* wrapper */

#wrapper {
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

/* nav */

nav {
	border-bottom: 1px solid #222;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-bottom: .5rem;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	padding-left: 2rem;
}
nav li:first-of-type {
	padding-left: 0;
}
nav li.side {
	float: right;
	padding-left: 1rem;
}
@media (max-width: 768px) {
	nav li {
		padding-left: .5rem;
	}
}
nav li .icon {
	font-size: 1.2rem;
}

nav a {
	font-weight: bold;
}

/* header */

header {
	border-bottom: 1px solid #222;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	min-height: 8rem;
}

header a:hover {
	color: inherit;
}

header h1 {
	font-size: 2.2rem;
	font-weight: bold;
	line-height: .95em;
	padding-bottom: 0.5rem
}

header h2 {
	font-size: 1.4rem;
	font-weight: bold;
}

/* footer */

footer {
	border-top: 1px solid #222;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: 1rem;
	font-size: .9rem;
}

footer a {
	font-weight: bold;
}

footer > p {
	float: right;
}

/* article */

article {
	border-bottom: 1px dotted #222;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
article:last-of-type {
	border-bottom: 0;
}

article h3 {
	font-size: 1.4rem;
	font-weight: bold;
	padding-bottom: .2rem
}

article h4, article h5, article h6 {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.6em;
	margin-bottom: .4em;
}

article p {
	line-height: 1.6em;
	margin-bottom: 1em;
	overflow: auto;
}
article p:last-child {
	margin-bottom: 0;
}

article p.meta, article span.meta {
	font-size: .9rem;
	font-style: italic;
	color: #666;
}

article a {
	text-decoration: underline;
}
article a:hover {
	text-decoration: none;
}
article h3 a {
	text-decoration: inherit;
}
article p.links a {
	font-weight: bold;
	text-decoration: inherit;
}

/* article - code */

article code, article pre {
	font-family: "Consolas", "Courier New", monospace;
	line-height: 1.2em;
	font-size: .9rem;
	background-color: #eee;
}

article code {
	padding-left: .2rem;
	padding-right: .2rem;
	word-wrap: break-word;
}

article pre {
	margin-left: .5rem;
	margin-right: .5rem;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-bottom: 1em;
	border: 1px solid #666;
	overflow: auto;
}

article pre code {
	padding-left: 0; /* reset */
	padding-right: 0; /* reset */
	word-wrap: normal; /* reset */
}

/* article - images */

article img {
	padding-left: .5rem;
	padding-right: .5rem;
	max-width: calc(100% - .5rem - .5rem);
}


article a[data-img-gallery] {
	cursor: zoom-in;
}

/* article - blockquote */

article blockquote {
	margin-left: .5rem;
	margin-right: .5rem;
	padding: .5rem;
	margin-bottom: 1em;
	border: 1px dotted #666;
}

/* article - lists */

article ul, article ol {
	margin-left: .5rem;
	margin-right: .5rem;
	line-height: 1.6;
}
article > ul, article > ol {
	margin-bottom: 1em;
}

article ul {
	list-style-type: none;
}

article ol {
	padding-left: 1.5rem;
}

article li {
	padding-left: 1.5rem;
	text-indent: -1rem;
	padding-right: .5rem;
}
article ul > li:before {
	content: '\f101';
	font-size: .9rem;
	font-family: FontAwesome;
	padding-right: .5rem;
}

/* article - table */

article table {
	line-height: 1.6;
	border-collapse: collapse;
	margin-bottom: 1em;
}

article td {
	padding-left: .5rem;
	padding-right: .5rem;
}
article td:first-of-type {
	padding-left: 0;
}
article td:last-of-type {
	padding-right: 0;
}

/* disqus */

#comments {
	margin-bottom: 2rem;
	padding-top: 1rem;
	padding-left: .5rem;
	padding-right: .5rem;
	overflow: hidden;
	border-top: 1px solid #222;
}

#disqus_thread {
	min-height: 325px;
}
