---
layout: null
---
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				{% for post in site.posts %}
				{% assign id = post.url | remove: "/" | split: "-" | first %}
				<rule name="Redirect ID: {{ id }}" stopProcessing="true">
					<match url="^{{ id }}/?$" />
					<action type="Redirect" redirectType="Permanent" url="{{ site.protocol }}{{ site.address }}{{ post.url }}" appendQueryString="true" />
				</rule>
				{% endfor %}
			</rules>
		</rewrite>
	</system.webServer>
</configuration>