---
layout: null
---
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				{% for post in site.posts %}
				{% capture permalink %}{% include permalink.txt post=post %}{% endcapture %}
				{% assign redirect_link = permalink | remove_first: "/id/" %}
				<rule name="Redirect ID: {{ redirect_link }}" stopProcessing="true">
					<match url="^{{ redirect_link }}?$" /><!-- trailing slash optional -->
					<action type="Redirect" redirectType="Permanent" url="{{ site.protocol }}{{ site.address }}{{ post.url }}" appendQueryString="true" />
				</rule>
				{% endfor %}
			</rules>
		</rewrite>
	</system.webServer>
</configuration>