<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{ if page.title }}{{ page.title }} | {{ end }}{{ include "title" }}</title>
	<link rel="alternate" type="application/atom+xml" title="{{ include "title" }}" href="/{{ site.feed }}" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<link rel="stylesheet" href="/assets/style.v__{{ blog.file_hash "/assets/style.css" }}.css" media="all" />
	<link rel="stylesheet" href="/assets/fa/css/fontawesome.min.v__{{ blog.file_hash "/assets/fa/css/fontawesome.min.css" }}.css" media="all" />
	<link rel="stylesheet" href="/assets/fa/css/solid.min.v__{{ blog.file_hash "/assets/fa/css/solid.min.css" }}.css" media="all" />
	<link rel="stylesheet" href="/assets/fa/css/regular.min.v__{{ blog.file_hash "/assets/fa/css/regular.min.css" }}.css" media="all" />
	<link rel="stylesheet" href="/assets/fa/css/brands.min.v__{{ blog.file_hash "/assets/fa/css/brands.min.css" }}.css" media="all" />
	<link rel="stylesheet" href="/assets/lightbox/lightbox.v__{{ blog.file_hash "/assets/lightbox/lightbox.css" }}.css" media="all" />
</head>
<body>
<div id="wrapper">
	<nav>
		<ul>
			<li><a href="/" title="Home"><span class="fa-solid fa-house-chimney" aria-hidden="true"></span></a></li>
			<li><a href="/archive">Archive</a></li>
			<li><a href="/about">About</a></li>
			<li class="side"><a href="/{{ site.feed }}" title="Feed"><span class="fa-solid fa-feed" aria-hidden="true"></span></a></li>
			<!-- <li class="side"><a href="https://twitter.com/cincura_net" rel="me" title="Twitter"><span class="fa-brands fa-twitter" aria-hidden="true"></span></a></li> -->
			<li class="side"><a href="https://www.youtube.com/@cincura_net" rel="me" title="YouTube"><span class="fa-brands fa-youtube" aria-hidden="true"></span></a></li>
			<li class="side"><a href="https://github.com/cincuranet" rel="me" title="GitHub"><span class="fa-brands fa-github" aria-hidden="true"></span></a></li>
			<li class="side"><a href="https://mas.to/@cincura_net" rel="me" title="Mastodon"><span class="fa-brands fa-mastodon" aria-hidden="true"></span></a></li>
		</ul>
	</nav>

	<header>
		{{- capture heading1_accent -}}<span class="accent">{{ site.heading1_accent }}</span>{{ end }}
		{{- capture heading2_accent -}}<span class="accent">{{ site.heading2_accent }}</span>{{ end }}
		<h1><a href="/">{{ site.heading1 | string.replace site.heading1_accent heading1_accent }}</a></h1>
		<h2><span class="accent">by</span> {{ site.heading2 | string.replace site.heading2_accent heading2_accent }}</h2>
	</header>

	<main>
{{ content }}
	</main>

	<footer>
		<p><a href="/{{ site.sitemap }}" title="Sitemap"><span class="fa-solid fa-sitemap" aria-hidden="true"></span></a><span class="divider"></span>Copyright &copy; Jiří Činčura. All rights reserved.</p>
	</footer>
</div>

<script src="/assets/lightbox/lightbox.v__{{ blog.file_hash "/assets/lightbox/lightbox.js" }}.js"></script>
<script src="/assets/blog.v__{{ blog.file_hash "/assets/blog.js" }}.js"></script>

<script>
var sc_project=12044992; 
var sc_invisible=1; 
var sc_security="fe0c329c"; 
var sc_https=1; 
var sc_remove_link=1; 
</script>
<script src="https://www.statcounter.com/counter/counter.js" async></script>

</body>
</html>
