{% include header.html %}

<div id="content" class="col span-8">
	<div class="col last span-6 nudge-2">
		<h4 class="ver small">You are reading</h4>	
	</div>
	<div class="post">
		<div class="post-meta col span-2">
			<ul class="nav">
				<li>{{ page.date | date: "%-d %b %Y" }}</li>
				<li>Tgas {{ page.tags | array_to_sentence_string }}</li>
				<!--<li>22 comments</li>-->
			</ul>
		</div>
			
		<div class="post-content span-8 nudge-2">
			<h3><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h3>
{{ content }}
		</div>
	</div>
		
	<div id="commentary" class="col span-8">
		<div class="col last span-6 nudge-2">
			<h4 class="ver small">Comments for this entry</h4>	
		</div>
	</div>
</div>

<hr />

{% include sidebar.html %}

{% include footer.html %}