{% include header.html %}

<div id="content">
	<div class="top_article">
		<h3>{{ page.title }}</h3>  
		{{ content }}
		<p><small>Published on {{ page.date | date: "%-d %b %Y" }} and tagged {{ page.tags | array_to_sentence_string }}.</small></p>
	</div>		
	<div class="top_article">
		<h4>Comments:</h4>
		<div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'blogcincuranet';
    var disqus_url = 'http://blog.cincura.net{{ page.url }}/';
    
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</div>
</div>

{% include sidebar.html %}

{% include footer.html %}